aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
cryptg==0.2.post4
frozenlist==1.3.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
multidict==6.0.2
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.21
python-dotenv==0.20.0
rfc3986==1.5.0
rsa==4.8
sniffio==1.2.0
Telethon==1.24.0
yarl==1.7.2
