aiohttp
aiosignal
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
cryptg
frozenlist
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
multidict
pyaes
pyasn1
pycparser
python-dotenv
rfc3986
rsa
sniffio
Telethon
yarl
